{{#each builds as |builds|}}
  {{!log builds}}
  <section data-id="{{builds.id}}" class="builds-list-container">

    <div class="builds-list-major">
      <h6 class="builds-list-text">Name:</h6>
      <p>{{builds.name}}</p>

      <h6 class="builds-list-text">Description:</h6>
      <p>{{limit builds.description 25}}</p>

      <h6 class="builds-list-text">Budget:</h6>
      <p>{{builds.budget}}</p>
    </div>

    <div class="builds-list-minor">
      <div>
        <button type="button" class="btn btn-info update-button" data-toggle="modal" data-target="#update-form">
          Update
        </button>
      </div>

    <div>
      <button class="btn btn-danger delete-build">Delete</button>
    </div>

    </div>

  </section>

{{/each}}
