@import '~bootstrap/scss/bootstrap';

$green: #228B22;
$red: #B22222;

body {
  padding-bottom: 100px;
}

// #login-btn {
//   display: block;
//   text-align: center;
// }

#log-in {
  text-align: center;
}

#change-password {
  display: none;
}

#create {
  display: none;
}

#log-out {
  display: none;
  left: 30px;
  padding: 10px;
  position: absolute;
}

#create-build-form {
  display: none;
}

#retrieve-builds {
  display: none;
}

#delete-build {
  display: none;
}

// #retrieve-one-build {
//   display: none;
//   padding: 5px;
// }

.success {
  color: $green;
  text-align: center;
}

.failure {
  color: $red;
  text-align: center;
}

.navbar {
  padding: 25px;
}

.navbar-brand {
  font-size: 200%;
}

.copyright {
  bottom: 10px;
  position: absolute;
  right: 30px;
}

.fixed-bottom {
  display: flex;
  justify-content: space-evenly;
  // padding: 37.5px;
}

.auth-container {
  display: flex;
  justify-content: space-evenly;
  text-align: center;
}

.col {
  align-items: center;
  display: flex;
  justify-content: center;
  padding: 5px;
}

.build-info-container {
  display: flex;
  justify-content: space-evenly;
  padding: 10px 0;
}

.create-build-container {
  display: flex;
  justify-content: center;
}

.create-build-major {
  padding: 60px 10px;
}

.create-build-minor {
  padding: 10px;
}
