@import '~bootstrap/scss/bootstrap';

$green: #228b22;
$red: #b22222;
$black: #000;
$gray: #778899;

// --------- Auth Information --------- //

* {
  font-family: 'Barlow', sans-serif;
}

#sign-up {
  padding: 30px 0 80px 0;
}

#login {
  display: none;
  padding: 30px 0 80px 0;
  text-align: center;
}

#log-out {
  display: none;
  left: 30px;
  padding: 10px;
  position: absolute;
}

#change-password {
  display: none;
}

.auth-container {
  display: flex;
  justify-content: space-evenly;
  text-align: center;
}

.ask-login {
  text-align: center;
}

.ask-signup {
  display: none;
  text-align: center;
}

// --------- Build Overview --------- //

#create {
  display: none;
}

#create-build-form {
  display: none;
}

#retrieve-builds {
  display: none;
}

.create-button {
  display: none;
  padding: 0 15px;
  text-align: center;
}

.create-build-form-button {
  text-align: center;
}

.update-build-container {
  display: flex;
  justify-content: center;
}

.builds-list-container {
  border: 2px solid $gray;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  margin: 10px;
  max-width: 300px;
  padding: 10px;
  width: 300px;
}

.builds-list-major {
  flex-direction: column;
  padding: 10px;
}

.builds-list-minor {
  display: flex;
  justify-content: space-evenly;
  text-align: center;
}

.builds-list-text {
  text-decoration: underline;
}

.build-info-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.create-build-container {
  display: flex;
  justify-content: center;
}

.create-build-major {
  padding: 60px 10px;
}

.create-build-minor {
  padding: 10px;
}

.home-builds {
  display: flex;
  // flex-basis: 300px;
  flex-wrap: wrap;
  justify-content: center;
}

// --------- Messaging --------- //

.success {
  color: $green;
  padding: 10px;
  text-align: center;
}

.failure {
  color: $red;
  padding: 10px;
  text-align: center;
}

.neutral {
  color: $black;
  text-align: center;
}

// --------- Misc. --------- //

body {
  padding-bottom: 100px;
}

.navbar-light {
  padding: 25px;
}

.navbar-brand {
  font-family: 'Roboto Mono', monospace;
  font-size: 200%;
}

.navbar-right {
  font-family: 'Roboto Mono', monospace;
  font-size: 125%;
  font-style: italic;
}

.copyright {
  bottom: 10px;
  position: absolute;
  right: 30px;
}

.fixed-bottom {
  display: flex;
  justify-content: space-evenly;
  // padding: 37.5px;
}

.col {
  align-items: center;
  display: flex;
  justify-content: center;
  padding: 5px;
}
